apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloworld
  namespace: python-app 
  labels:
    app: python
spec:
  replicas: 5
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
      - name: python
        image: sameer231292/helloworld-demo-python:rt
        ports:
        - containerPort: 8080
